.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Size variants */
.spinner[data-size='xs'] {
  width: 0.75rem;
  height: 0.75rem;
}

.spinner[data-size='sm'] {
  width: 1rem;
  height: 1rem;
}

.spinner[data-size='md'] {
  width: 1.5rem;
  height: 1.5rem;
}

.spinner[data-size='lg'] {
  width: 2rem;
  height: 2rem;
}

.spinner[data-size='xl'] {
  width: 3rem;
  height: 3rem;
}

/* Color variants */
.spinner[data-color='primary'] {
  color: var(--stoked-color-primary);
}

.spinner[data-color='white'] {
  color: white;
}

.spinner[data-color='current'] {
  color: currentColor;
}

.svg {
  width: 100%;
  height: 100%;
}

.circle {
  transform-origin: center;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
